.sr-only {
  display: none;
}

.close {
  background-color: white;
  border: none;
}

.close span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-weight: 700;
  font-size: x-large;
  color: steelblue;
}
